

.headers
{
	border:5px solid black;
	border-width:5px;
	border-radius: 1px; 
	color: white;
	background-color: rgb(220,20,60);
	font: verdanda;
}

.signin
{
	border:5px solid black;
	border-width:5px;
	border-radius: 1px; 
	color: white;
	background-color: rgb(220,20,60);
	font: verdanda;
}



.logo
{
	border: 1px solid black;
}

p
{
	color:pink;
}


#tr2
{
	color: red;
	text-align: center;

}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  color: white;
  background-color: black;
  text-align: center;
  border-width: 30px;

}



.table1
{
	 border: 2px solid green;
  border-collapse: collapse;
  


}



.footers
{
	color:white;
	background:black;
	border-width: 5px;
	border-radius: 2px;

}

div.contact1
{
	color: black;
	text-align: center;
	border: solid ;

}